//== Brand Color
$brand-color: #face49;
$brand-color2: #00aeef;
$brand-color3: #7cbc3d;
$brand-color-dark: darken($brand-color, 15%);
$brand-color-light: lighten($brand-color, 15%);


// Site Typography Colors
$paragraph: #252525;
$paragraph-light: #666;
$heading: #000;
$gray-color: #929292;
$light-gray: #f3f3f3;
$light-white: #f4f5f7;
$ash-color: #d2d2d2;
$bg-dark: #202020;

//== Typography Variable
$font-family-base: 'Poppins', sans-serif;
$font_awesome: 'FontAwesome';
$font-size-base: 14px;

//== Alternative Color
$white: #fff;
$offwhite: #fafafa;
$black: #000;
$black-soft: #202020;
$navy: #3b5998;
$pink: #FF69B4;
$violet: #9933cc;
$olive: #559137;
$green: #1dd983;
$red: #e74c3c;
$orange: #f5740a;
$yellow: #f4ca49;

//== Social Media Icons Color
$facebook: #3B5999;
$twitter: #1DA1F2;
$pinterest: #CB2028;
$youtube: #CC332D;

//== Responsive Variables
$desktop-device: 'only screen and (min-width: 1200px)';
$laptop-device: 'only screen and (min-width: 992px) and (max-width: 1199px)';
$tablet-device: 'only screen and (min-width: 768px) and (max-width: 991px)';
$large-mobile: 'only screen and (max-width: 767px)';
$small-mobile: 'only screen and (max-width: 575px)';
$extra-small-mobile: 'only screen and (max-width: 479px)';